In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/4GA/11-12.EDA+Your first ML algorithm/idealista.csv').iloc[:,1:]
df.set_index('ASSETID', inplace=True)
pd.set_option('display.max_columns', None)
df.head()

,PERIOD,PRICE,UNITPRICE,ADTYPOLOGYID,ADOPERATIONID,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,AMENITYID,HASPARKINGSPACE,ISPARKINGSPACEINCLUDEDINPRICE,PARKINGSPACEPRICE,HASNORTHORIENTATION,HASSOUTHORIENTATION,HASEASTORIENTATION,HASWESTORIENTATION,HASBOXROOM,HASWARDROBE,HASSWIMMINGPOOL,HASDOORMAN,HASGARDEN,ISDUPLEX,ISSTUDIO,ISINTOPFLOOR,CONSTRUCTIONYEAR,FLOORCLEAN,FLATLOCATIONID,CADCONSTRUCTIONYEAR,CADMAXBUILDINGFLOOR,CADDWELLINGCOUNT,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_CASTELLANA,LONGITUDE,LATITUDE,CITYNAME,ADTYPOLOGY,ADOPERATION
ASSETID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A1939157683777299681,201803,127000,1209.523810,HOME,SALE,105,3,2,0,0,1,3,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,1.0,1.0,1999,10,48,5.0,0,0,1,4.385312,1.366987,2.003670,-3.672679,40.385117,Madrid,HOME,SALE
A17835985663475884501,201803,291000,2910.000000,HOME,SALE,100,3,2,1,1,0,3,1,1,1,0,1,0,0,1,1,1,0,1,0,0,0,NaN,3.0,1.0,2016,9,102,4.0,0,0,1,9.333559,0.098568,7.390903,-3.612396,40.369848,Madrid,HOME,SALE
A3825132123082147094,201812,198000,1960.396040,HOME,SALE,101,4,2,1,0,0,3,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,NaN,2.0,1.0,1976,11,163,5.0,0,0,1,8.738427,1.042879,7.237677,-3.610224,40.383652,Madrid,HOME,SALE
A4827218792989485200,201806,626000,6019.230769,HOME,SALE,104,3,2,0,1,1,3,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1971.0,4.0,2.0,1971,7,16,4.0,0,0,1,3.068749,0.122908,1.035725,-3.676414,40.434636,Madrid,HOME,SALE
A9324548227923739927,201812,247000,2744.444444,HOME,SALE,90,4,2,1,1,0,3,1,1,1,0,0,0,0,1,1,0,0,0,0,0,0,NaN,1.0,1.0,1997,6,151,4.0,0,1,0,7.404771,0.383724,6.200856,-3.620428,40.396706,Madrid,HOME,SALE

In [ ]:
df.shape

(10000, 45)

In [ ]:
unicos = df.nunique()
df[unicos[unicos==1].index]

,ADTYPOLOGYID,ADOPERATIONID,CITYNAME,ADTYPOLOGY,ADOPERATION
ASSETID,,,,,
A1939157683777299681,HOME,SALE,Madrid,HOME,SALE
A17835985663475884501,HOME,SALE,Madrid,HOME,SALE
A3825132123082147094,HOME,SALE,Madrid,HOME,SALE
A4827218792989485200,HOME,SALE,Madrid,HOME,SALE
A9324548227923739927,HOME,SALE,Madrid,HOME,SALE
...,...,...,...,...,...
A3680294233477160420,HOME,SALE,Madrid,HOME,SALE
A14052961987227389669,HOME,SALE,Madrid,HOME,SALE
A251613575980724033,HOME,SALE,Madrid,HOME,SALE
A6650451879419491303,HOME,SALE,Madrid,HOME,SALE
A5399887992293725191,HOME,SALE,Madrid,HOME,SALE

# Identificar y eliminar columnas con valores contantes

In [ ]:
df.drop(unicos[unicos==1].index, axis=1, inplace=True)

In [ ]:
df.shape

(10000, 40)

# Eliminamos filas y columnas duplicadas

In [ ]:
# Comporbar ducpliados
df.duplicated().sum()

np.int64(0)

In [ ]:
df.T.duplicated().sum()

np.int64(1)

In [ ]:
df.T.duplicated(keep=False)

PERIOD                           False
PRICE                            False
UNITPRICE                        False
CONSTRUCTEDAREA                  False
ROOMNUMBER                       False
BATHNUMBER                       False
HASTERRACE                       False
HASLIFT                          False
HASAIRCONDITIONING               False
AMENITYID                        False
HASPARKINGSPACE                   True
ISPARKINGSPACEINCLUDEDINPRICE     True
PARKINGSPACEPRICE                False
HASNORTHORIENTATION              False
HASSOUTHORIENTATION              False
HASEASTORIENTATION               False
HASWESTORIENTATION               False
HASBOXROOM                       False
HASWARDROBE                      False
HASSWIMMINGPOOL                  False
HASDOORMAN                       False
HASGARDEN                        False
ISDUPLEX                         False
ISSTUDIO                         False
ISINTOPFLOOR                     False
CONSTRUCTIONYEAR                 False
FLOORCLEAN                       False
FLATLOCATIONID                   False
CADCONSTRUCTIONYEAR              False
CADMAXBUILDINGFLOOR              False
CADDWELLINGCOUNT                 False
CADASTRALQUALITYID               False
BUILTTYPEID_1                    False
BUILTTYPEID_2                    False
BUILTTYPEID_3                    False
DISTANCE_TO_CITY_CENTER          False
DISTANCE_TO_METRO                False
DISTANCE_TO_CASTELLANA           False
LONGITUDE                        False
LATITUDE                         False
dtype: bool

In [ ]:
df.drop('ISPARKINGSPACEINCLUDEDINPRICE', axis=1, inplace=True)

# Eliminar columnas redundantes

In [ ]:
df.drop(['HASWESTORIENTATION', 'BUILTTYPEID_3'], axis=1)

# Eliminar columnas Data leakage

Precio por metro cuadrado

In [ ]:
df.drop('UNITPRICE', axis=1, inplace=True)

# Valores faltantes

mnar, mar, mcar...

In [ ]:
df.shape

(10000, 38)

In [ ]:
faltantes = df.isna().mean()*100
faltantes[faltantes>0]

CONSTRUCTIONYEAR    59.50
FLOORCLEAN           4.29
FLATLOCATIONID       6.67
dtype: float64

In [ ]:
df.drop('CONSTRUCTIONYEAR', axis=1, inplace=True)

In [ ]:
df.isnull().any(axis=1).sum()

np.int64(951)

In [ ]:
n = 2
df[df.isnull().sum(axis=1) ==n]

,PERIOD,PRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,AMENITYID,HASPARKINGSPACE,PARKINGSPACEPRICE,HASNORTHORIENTATION,HASSOUTHORIENTATION,HASEASTORIENTATION,HASWESTORIENTATION,HASBOXROOM,HASWARDROBE,HASSWIMMINGPOOL,HASDOORMAN,HASGARDEN,ISDUPLEX,ISSTUDIO,ISINTOPFLOOR,FLOORCLEAN,FLATLOCATIONID,CADCONSTRUCTIONYEAR,CADMAXBUILDINGFLOOR,CADDWELLINGCOUNT,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_CASTELLANA,LONGITUDE,LATITUDE
ASSETID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A1696293711307168754,201812,155000,64,3,1,0,0,0,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1955,7,29,6.0,0,0,1,3.332043,0.289066,1.974536,-3.670652,40.400489
A13832448960582849169,201812,730000,115,1,1,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,1880,5,10,5.0,0,0,1,1.001383,0.155855,0.467965,-3.696841,40.423866
A12901108998556854576,201806,526000,126,3,2,1,1,0,3,1,1,0,0,0,0,0,0,1,0,0,0,0,0,NaN,NaN,2002,6,92,3.0,0,0,1,6.712441,0.716121,3.109901,-3.724171,40.474860
A12372952549790290789,201812,397000,80,3,1,0,1,0,3,0,1,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,1969,7,33,5.0,0,0,1,2.353979,0.216216,1.021913,-3.678358,40.425093
A16151247174096403563,201803,117000,59,2,1,0,0,0,3,0,1,0,0,0,0,0,0,0,0,0,1,0,0,NaN,NaN,1981,3,9,6.0,0,0,1,3.906134,0.511245,2.147487,-3.669378,40.393253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A3038932905484539523,201803,87000,81,3,2,0,0,0,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1968,4,11,6.0,0,0,1,4.054290,0.352444,4.508423,-3.747283,40.401434
A5841467695184470531,201812,43000,41,2,1,0,0,0,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1945,2,9,6.0,0,0,1,4.319598,0.314684,2.870682,-3.660510,40.396106
A1325028210329869186,201812,664000,115,3,2,1,1,0,3,0,1,0,0,0,0,1,0,1,0,1,0,0,0,NaN,NaN,1965,6,25,6.0,1,0,0,4.438482,0.334654,1.621946,-3.671869,40.448203
A9876278693173815668,201812,158000,70,2,1,0,0,1,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1945,5,22,6.0,0,1,0,4.347872,0.408495,1.560126,-3.672677,40.447649
A2775391540612303766,201806,150000,130,2,2,0,0,0,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,1960,8,19,4.0,0,0,1,1.979037,0.059841,0.591208,-3.683477,40.425360